<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <a href="/">Home</a>
      <a href="/pizzas">Show all the pizza orders</a>
      <a href="/pizzas/new">Order a pizza</a>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
